.row {
  color: white;
  width: 100%;
}

.header {
  margin-top: 2vh !important;
  margin-left: 1vw !important;
}

.row__blocks {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row__tile {
  display: inline-block;
  color: white;
  padding: 1vw;
}

.row__tile:hover {
  transform: scale(1.04);
}
