.editors {
    position: fixed;
    left: 3%;
    top: 8%;
    width: 95%;
    height: 88%;
}

.css-1yjjitx-MuiSwitch-track {
    background-color: lightgray !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #1976d2 !important;
}