.editors {
  position: fixed;
  left: 3%;
  top: 9%;
  width: 95%;
  height: 88%;
}

.tab-panel {
  padding: 0 !important;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: lightgray !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #1976d2 !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #101e27 !important;
  width: 20%;
}
