.editor-container {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.editor { 
    overflow-y: scroll;
    resize: none;
    height: 700px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    color: rgba(200, 200, 200, 0.9);
}