.title-header {
  padding-bottom: 5vh;
}

.shader-card {
  height: 15%;
  color: #000;
}

.shader-card-image {
  height: 75%;
  object-fit: cover;
}

.card-textbox {
  border-top: 1px solid white;
  background-color: #000;
  padding: 0.5em !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whole-card:hover .shader-card-image {
  height: 63%;
}

.whole-card:hover .shader-card {
  white-space: normal;
} 

.whole-card:hover .shader-card {
  transform: scale(1.04);
}
