.title-header {
    color: white;
    padding-bottom: 2%;
}

.shader-card {
    height: 15%;
    background-color: #4F5358;
    color: white;
}

.shader-card-image {
    height: 70%;
    object-fit: cover;
}