html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #101111;
    background-size:cover;
}

#root {
    width: 100%;
    height: 100vh;
}

#body {
    width: 100%;
    height: 100vh;
    background-color: #101111;
    background-size:cover;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.paddedDiv {
    padding: 1.3em
}